.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

ul {
  list-style: none;
  display: flex;
}

.letter-pair {
  position: relative;
}
.converted {
  position: absolute;
  top: 1em;
  left: 3px;
}
.letter {
  padding: 0 5px;
}

table {
  border-collapse: collapse;
  margin: auto;
}
.typed-letter {
  background: black;
}
.typed-letter td {
  border-color: #e16868;
}

.typed-letter .cell-filled {
  background: #e2b6b6;
}
td {
  border: 1px solid #a0a0a0;
  margin-bottom: -1px;
  margin-left: -1px;
  display: inline-block;
  height: 5px;
  width: 5px;
}
tr {
  line-height: 0;
  display: flex;
}

.cell-filled {
  background: white;
}

.cell-touched {
  background: #e2b6b6;
}

.keyboard {
  margin-top: 1em;
}
